.name p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.header {
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
}

.one {
  display: flex;
  justify-content: space-around;
}

.mane {
  display: flex;
  justify-content: center;
  gap: 400px;
}

.first_section {
  background-color: #1f2937;
  height: 300px;  
  padding-top: 25px;
}

.img1 img {
  width: 350px;
  height: auto;
}

.btn {
  background: #2768eb;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
}

.name {
  width: 450px;
}

.name :first-child {
  font-size: 48px;
  color: white;
}

.second_section {
  background-color: whitesmoke;
  height: 250px; 
}

.third_section {
  background-color: rgb(216, 214, 214);
  height: 200px; 
  text-align: center;
}

.two {
  text-align: center;
  font-size: 36px;
  font-weight:  extra-bold;
  color: #1f2937;
  margin-bottom: 10px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.im img {
  width: 200px;
  height: 150px;
}

.third_section div {
  margin: 0 auto;
  font-size: 36px;
  width: 950px;
  padding-top: 20px;
}

.fourth_section {
  background-color: whitesmoke;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call {
  display: flex;
  background-color: #769cf0;
  width: 900px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin:  0 480px;
} 

.call div {
  color: white;
  font-size: 24px;
}

.call p {
  font-size: 18px;
}

.call .btn {
  height: 40px;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: white;
  height: 50px;
  padding-top: 20px;
}